p{
    font-size: larger;
    font-style: oblique;
}
h1{
    font-size: 50px;
    color: rgb(43, 45, 67);
    text-align:centre;
}
body{
    position: relative;
    
    background-color: rgb(218, 210, 200);
}
footer{
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
}
p1{
    font-size: xx-large;
    font-style: oblique;
}
p2{
    font-size: large;
    font-style: oblique;
}
