.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links{
    flex: 1;
    text-align: right;
}
h1{
    font-size: 50;
    font-style: oblique;
    color: rgb(36, 167, 176);
}
h2{
    text-align: center;
}
p{
    font-style: oblique;
    font-size: larger;
}
h3{
    font-size: larger;
}
body{
    position: relative;
    Left:50px;
    background-image: url('bg\ image.jpg');
    
}
